<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="userInput.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="userInput.password" type="password"></ion-input>
  </ion-item>

  <ion-button (click)="userLogin()" expand="block">Login</ion-button> 

  <ion-text color="danger" *ngIf="userService.validUser">
    Invalid username or password!
  </ion-text>

</ion-content>
