<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">

        <ion-col size="1">
          
          <ion-buttons>
            <ion-button> 
              <ion-icon size="large" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>

        </ion-col>

        <ion-col size="3">
          <ion-buttons>
            <ion-title >LOGO</ion-title>
        </ion-buttons >
        </ion-col>

        <ion-col size="2">
          <ion-buttons>
            <ion-button>
              <ion-icon size="large" name="options"></ion-icon>
            </ion-button>
        </ion-buttons >
        </ion-col>

      </ion-row>


    </ion-grid>




  </ion-toolbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title size="small">MISSIONS</ion-title>
        </ion-col>
        
        <ion-col>
          <ion-title size="small">NOTES</ion-title>
        </ion-col>

        <ion-col>
          <ion-title size="small">REQUESTS</ion-title>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>


</ion-header>

<ion-content></ion-content>
