<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button slot="end"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
    <ion-card *ngFor="let item of userService.currentItem">
      <ion-img class="enlarged-pic" src="{{ item.picture }}"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title class="title">{{ item.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ item.about }}
      </ion-card-content> 

    </ion-card>
</ion-content>
