<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input required [(ngModel)]="userInput.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required minLength=4 [(ngModel)]="userInput.password" type="password"></ion-input>
  </ion-item>

  <ion-button (click)="userSignUp()" expand="block">Sign up</ion-button>

</ion-content>
