<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Email</ion-label>
    <ion-input placeholder="Type email here" [required]="" [(ngModel)]="userInput.email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Password</ion-label>
    <ion-input placeholder="Type password here" required minlength=4 [(ngModel)]="userInput.password" type="password"></ion-input>
  </ion-item>

  <ion-button (click)="userSignUp()" expand="block">Sign up</ion-button>

  <ion-text color="danger" *ngIf="message">
    <p>{{message}}</p>
  </ion-text>

</ion-content>
