<ion-header>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-grid no-padding="true">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-buttons>
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
            </ion-col > 
            <ion-col size="5">
              <ion-title >LOGO</ion-title>
            </ion-col>
            <ion-col push="1">
              <ion-tab-button>
                <ion-icon size="large" name="options"></ion-icon>
              </ion-tab-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar class="border">
        <ion-tab-button >
          <ion-label color="medium">MISSIONS</ion-label>
        </ion-tab-button>
        <ion-tab-button>
          <ion-label color="medium">NOTES</ion-label>
        </ion-tab-button>
        <ion-tab-button >
          <ion-label color="medium">REQUESTS</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet ></ion-router-outlet >

  <ion-list >
    <ion-card button="true" 
    *ngFor="let item of userService.userItems; index as detailId"
    [routerLink]="['detail', detailId]" 
    >

    <ion-item detail="true" lines="none">
          <ion-avatar name="contact" slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>{{ item.name }}</ion-label>
      </ion-item>

        <ion-img src="{{ item.picture }}"></ion-img>


      <ion-card-content>
        {{ item.segmentedAbout }}
      </ion-card-content>

    </ion-card>

  </ion-list>
</ion-content> 


 